<md-toolbar ng-class='{"md-tall": size == "tall"}'>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-if="menu">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        {{menu}}
        <h2>
          <a ui-sref="home"><span>{{title}}</span></a>
        </h2>
        <span flex></span>
        <div ng-transclude>

        </div>
        <md-button class="md-icon-button" aria-label="More" ng-click="options()">
          <md-icon md-svg-icon="more_vert"></md-icon>
        </md-button>

      </div>
</md-toolbar>
