<ex-menu title="ExSharer"></ex-menu>
<md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="gray"
        md-rowspan="3" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <a ui-sref="project({id: projects[0]._id})">
            <h3>{{projects[0].title}}</h3>
        </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[1]._id})">
              <h3>{{projects[1].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[2]._id})">
              <h3>{{projects[2].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue"
        md-rowspan="2">
      <md-grid-tile-footer>
        <h3>Title 4</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>Title 5</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="2" >
      <md-grid-tile-footer>
        <h3>Title 6</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
