<ex-menu title="ExSharer"></ex-menu>
<md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="gray"
        md-rowspan="3" md-colspan="2" md-colspan-sm="1"
        ng-style="{'background-image': 'url('+projects[0].photo+')'}">
      <md-grid-tile-footer>
        <a ui-sref="project({id: projects[0]._id})">
            <h3>{{projects[0].title}}</h3>
        </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green"
    ng-style="{'background-image': 'url('+projects[1].photo+')'}">
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[1]._id})">
              <h3>{{projects[1].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow"
        ng-style="{'background-image': 'url('+projects[2].photo+')'}">
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[2]._id})">
              <h3>{{projects[2].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue"
        ng-style="{'background-image': 'url('+projects[3].photo+')'}"
        md-rowspan="2">
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[3]._id})">
              <h3>{{projects[3].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red"
        ng-style="{'background-image': 'url('+projects[4].photo+')'}"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[4]._id})">
              <h3>{{projects[4].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green"
        ng-style="{'background-image': 'url('+projects[5].photo+')'}"
        md-rowspan="2" >
      <md-grid-tile-footer>
          <a ui-sref="project({id: projects[5]._id})">
              <h3>{{projects[5].title}}</h3>
          </a>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
